.footer{
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
    &_text{
        font-family: 'Comfortaa';
        font-weight: 700;
        color: #fff;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            margin-right: 15px;
        }
    }
}